* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-transform: capitalize;
}
@font-face {
  font-family: "fontx";
  src: url("font.ttf");
}
html, body {
  height: -webkit-fill-available;
  .mobileNav {
    display: none;
  }
  .hero {
    .headersec {
      display: flex;
      height: 3.6rem;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      .logo {
        width: 6rem;
      }
    }
    .herobgh {
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
      z-index: -1;
      @media (min-aspect-ratio: 16/9){
        width: 100%;
        height: auto;
      }
      @media (max-aspect-ratio: 16/9){
        width: auto;
        height: 100%;
      }
    }
    .herobgv {
      display: none;
    }
  }
}


/* Mobile View */
@media (max-width: 414px) {
  html, body {
    height: -webkit-fill-available;
    .mobileNav {
      display: flex;
      .menuBtn {
        position: absolute;
        width: 9rem;
        height: 3rem;
        color: #fff;
        font-family: "fontx";
        font-size: 1.7rem;
        font-weight: 600;
        border-radius: 1.5rem;
        background: transparent;
        backdrop-filter: blur(10px);
        top: 90%;
        left: 50%;
        transform: translate(-50%, 0)
      }
    }
    .hero {
      .headersec{
        justify-content: center;
      }
      .herobgh {
        display: none;
      }
      .herobgv {
        display: flex;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }
}
