* {
  padding: 0;
  margin: 0;
  border: none;
  color: var(--colFg);
  box-sizing: border-box;
  text-transform: capitalize;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: "font";
  src: url("./fonts/font.ttf");
}

:root,
:root.light {
  --headerBr: 0 0 7vw 7vw;
  --footerBr: 7vw 7vw 0 0;
  --deskBr: 2vw;
  --mobileBr: 7vw;

  --iconCol: brightness(0);
  --colFg: rgba(0,0,0,1);
  --colBg: rgba(255,255,255,.9);
  --colRootBg: rgba(255,255,255,1);
  --cardFg: rgba(0,0,0,.5);
  --cardBg: rgba(0,0,0,.1);
  --menuFg: rgba(0,0,0,.5);
  --menuBg: rgba(0,0,0,.1);
  --btnFg: rgba(0,0,0,1);
  --btnBg: rgba(255,255,255,.9);
  --slideBtnFg: rgba(0,0,0,1);
  --slideBtnBg: rgba(0,0,0,.2);
  --slideBg: rgba(255,255,255,.9);
  --colSticking: rgba(255,255,255,.8);
  --btnShadow: 0 0 1rem 0.1rem rgba(255,255,255,.3);
  --hoverBtn: 0 0 .5rem .1rem rgba(0,0,0,.5);
  --boxShadow: 0 0 .5rem 0 rgba(0,0,0,.3);
  --cardShadow: 0 0 1rem 0.1rem rgba(255,255,255,1);
  --boxBorder: .5rem solid var(--colFg);
  --nonHoverOpa: .7;
  --hoverOpa: 1;
}
:root.dark {
  --iconCol: brightness(100%);
  --colFg: rgba(255,255,255,1);
  --colBg: rgba(0,0,0,.9);
  --colRootBg: rgba(0,0,0,1);
  --cardFg: rgba(255,255,255,.5);
  --cardBg: rgba(255,255,255,.1);
  --menuFg: rgba(255,255,255,.5);
  --menuBg: rgba(255,255,255,.1);
  --btnFg: rgba(255,255,255,1);
  --btnBg: rgba(0,0,0,.9);
  --slideBtnFg: rgba(255,255,255,1);
  --slideBtnBg: rgba(255,255,255,.2);
  --slideBg: rgba(0,0,0,.9);
  --colSticking: rgba(0,0,0,.8);
  --btnShadow: 0 0 1rem 0.1rem rgba(0,0,0,.3);
  --hoverBtn: 0 0 .5rem .1rem rgba(255,255,255,.5);
  --boxShadow: 0 0 .5rem 0 rgba(255,255,255,.3);
  --cardShadow: 0 0 1rem 0.1rem rgba(0,0,0,1);
  --btnBorder: ;
  --boxBorder: .5rem solid var(--colFg);
  --nonHoverOpa: .8;
  --hoverOpa: 1;
}



html, body {
  background: var(--colRootBg);
  ::selection {
   color: red;
   background: var(--colFg);
  }
  & main {
    min-height: 100vh;
    display: block;
    min-height: 100vh;
    .devMode {
      display: flex;
      flex-direction: column;
      align-items: center;
      & h1 {
        font-size: 3rem;
      }
      & h2 {
        font-size: 2rem;
        color: lightgreen;
      }
    }
    .cardx {
      color: var(--cardFg);
      background: var(--cardBg);
      box-shadow: var(--cardShadow);
      border-left: .25rem solid var(--colFg);
      border-radius: 1rem;
      overflow: hidden;
      padding: 1rem;
      margin: 2rem 5rem;
      & p {
        color: var(--colFg);
        font-size: .8rem;
        line-height: 1.3rem;
        font-weight: 600;
      }
    }
    .secTwo {
      display: flex;
      justify-content: flex-end;
      margin: 2rem 0;
      .gameBtn {
        font-size: 1.4rem;
        font-weight: 600;
        padding: 1rem 2rem;
        border-radius: 2rem .1rem;
        background: var(--cardBg);
        box-shadow: var(--boxShadow);
      }
    }
    .scroller {
     display: flex;
     flex-direction: column;
     padding: 2vw 0;
     gap: 1vw;
     overflow: hidden;
     .scrollerBox {
      display: flex;
      align-items: center;
      width: 20vw;
      height: 10vw;
      border-radius: var(--deskBr);
      overflow: hidden;
      background: red;
      & img {
       width: 100%;
      }
     }
     .scrollerFlex {
      display: flex;
      width: 209%;
      gap: 1vw;
     }
     .scrollerBot {
      transform: translateX(-52%);
     }
    }
  }
}


@media (max-width: 429px) {
  * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
  html, body {
  }
}
