---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.tsx';
---

<Layout title="Welcome to notscripter.github.io">
	<main>
    <Hero client:visible />
	</main>
</Layout>
