* {
  padding: 0;
  margin: 0;
  border: none;
  color: var(--colFg);
  box-sizing: border-box;
  font-family: "font";
  text-transform: capitalize;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: "font";
  src: url("./font/font.ttf");
}

:root,
:root.light {
  --headerBr: 0 0 7vw 7vw;
  --footerBr: 7vw 7vw 0 0;

  --iconCol: brightness(0);
  --colFg: rgba(0,0,0,1);
  --colBg: rgba(255,255,255,.9);
  --colRootBg: rgba(255,255,255,1);
  --cardFg: rgba(0,0,0,.5);
  --cardBg: rgba(0,0,0,.1);
  --menuFg: rgba(0,0,0,.5);
  --menuBg: rgba(0,0,0,.1);
  --btnFg: rgba(0,0,0,1);
  --btnBg: rgba(255,255,255,.9);
  --slideBtnFg: rgba(0,0,0,1);
  --slideBtnBg: rgba(0,0,0,.2);
  --slideBg: rgba(255,255,255,.9);
  --colSticking: rgba(255,255,255,.8);
  --btnShadow: 0 0 1rem 0.1rem rgba(255,255,255,.3);
  --hoverBtn: 0 0 .5rem .1rem rgba(0,0,0,.5);
  --boxShadow: 0 0 .5rem 0 rgba(0,0,0,.3);
  --cardShadow: 0 0 1rem 0.1rem rgba(255,255,255,1);
  --boxBorder: .5rem solid var(--colFg);
  --nonHoverOpa: .7;
  --hoverOpa: 1;
}
:root.dark {
  --iconCol: brightness(100%);
  --colFg: rgba(255,255,255,1);
  --colBg: rgba(0,0,0,.9);
  --colRootBg: rgba(0,0,0,1);
  --cardFg: rgba(255,255,255,.5);
  --cardBg: rgba(255,255,255,.1);
  --menuFg: rgba(255,255,255,.5);
  --menuBg: rgba(255,255,255,.1);
  --btnFg: rgba(255,255,255,1);
  --btnBg: rgba(0,0,0,.9);
  --slideBtnFg: rgba(255,255,255,1);
  --slideBtnBg: rgba(255,255,255,.2);
  --slideBg: rgba(0,0,0,.9);
  --colSticking: rgba(0,0,0,.8);
  --btnShadow: 0 0 1rem 0.1rem rgba(0,0,0,.3);
  --hoverBtn: 0 0 .5rem .1rem rgba(255,255,255,.5);
  --boxShadow: 0 0 .5rem 0 rgba(255,255,255,.3);
  --cardShadow: 0 0 1rem 0.1rem rgba(0,0,0,1);
  --btnBorder: ;
  --boxBorder: .5rem solid var(--colFg);
  --nonHoverOpa: .8;
  --hoverOpa: 1;
}


.iconx {
  width: 2rem;
  filter: var(--iconCol);
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
a {
  text-decoration: none;
}



html, body {
 & footer {
  bottom: 0;
  padding: 1rem;
  font-weight: 600;
  background: var(--colSticking);
  backdrop-filter: saturate(900%) blur(1rem);
  box-shadow: var(--boxShadow);
  .footerx {
   display: flex;
   justify-content: space-around;
   .menus {
    display: inline-grid;
    & a {
     opacity: var(--nonHoverOpa);
     &:hover {
      opacity: var(--hoverOpa);
     }
    }
   }
   .footerSocial {
    .menuBot {
     display: inline-grid;
    }
    & a {
     opacity: var(--nonHoverOpa);
     &:hover {
      opacity: var(--hoverOpa);
     }
    }
    .iconx {
     display: none;
    }
   }
  }
  .copyRightx {
   font-size: .5rem;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
   margin: 1rem 0 0 0;
   .copyRight {
   }
  }
 }
}





@media (max-width: 429px) {
  & footer {
    border-radius: var(--footerBr);
    box-shadow: var(--cardShadow);
    .footerx {
      display: grid !important;
      justify-content: normal !important;
      font-size: 2rem;
      .footerNav {
      }
      .footerSocial {
        justify-content: flex-start;
        direction: rtl;
      }
    }
    .copyRightx {
      .copyRight {
        font-size: .5rem;
      }
    }
  }
}
