* {
  padding: 0;
  margin: 0;
  border: none;
  color: var(--colFg);
  box-sizing: border-box;
  font-family: "font";
  text-transform: capitalize;
  -webkit-tap-highlight-color: transparent;
}
@font-face {
  font-family: "font";
  src: url("./font/font.ttf");
}

:root,
:root.light {
  --headerBr: 0 0 7vw 7vw;
  --footerBr: 7vw 7vw 0 0;

  --iconCol: brightness(0);
  --colFg: rgba(0,0,0,1);
  --colBg: rgba(255,255,255,.9);
  --colRootBg: rgba(255,255,255,1);
  --cardFg: rgba(0,0,0,.5);
  --cardBg: rgba(0,0,0,.1);
  --menuFg: rgba(0,0,0,.5);
  --menuBg: rgba(0,0,0,.1);
  --btnFg: rgba(0,0,0,1);
  --btnBg: rgba(255,255,255,.9);
  --slideBtnFg: rgba(0,0,0,1);
  --slideBtnBg: rgba(0,0,0,.2);
  --slideBg: rgba(255,255,255,.9);
  --colSticking: rgba(255,255,255,.8);
  --btnShadow: 0 0 1rem 0.1rem rgba(255,255,255,.3);
  --hoverBtn: 0 0 .5rem .1rem rgba(0,0,0,.5);
  --boxShadow: 0 0 .5rem 0 rgba(0,0,0,.3);
  --cardShadow: 0 0 1rem 0.1rem rgba(255,255,255,1);
  --boxBorder: .5rem solid var(--colFg);
  --nonHoverOpa: .7;
  --hoverOpa: 1;
}
:root.dark {
  --iconCol: brightness(100%);
  --colFg: rgba(255,255,255,1);
  --colBg: rgba(0,0,0,.9);
  --colRootBg: rgba(0,0,0,1);
  --cardFg: rgba(255,255,255,.5);
  --cardBg: rgba(255,255,255,.1);
  --menuFg: rgba(255,255,255,.5);
  --menuBg: rgba(255,255,255,.1);
  --btnFg: rgba(255,255,255,1);
  --btnBg: rgba(0,0,0,.9);
  --slideBtnFg: rgba(255,255,255,1);
  --slideBtnBg: rgba(255,255,255,.2);
  --slideBg: rgba(0,0,0,.9);
  --colSticking: rgba(0,0,0,.8);
  --btnShadow: 0 0 1rem 0.1rem rgba(0,0,0,.3);
  --hoverBtn: 0 0 .5rem .1rem rgba(255,255,255,.5);
  --boxShadow: 0 0 .5rem 0 rgba(255,255,255,.3);
  --cardShadow: 0 0 1rem 0.1rem rgba(0,0,0,1);
  --btnBorder: ;
  --boxBorder: .5rem solid var(--colFg);
  --nonHoverOpa: .8;
  --hoverOpa: 1;
}


.iconx {
  width: 2rem;
  filter: var(--iconCol);
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
a {
  text-decoration: none;
}
.menuTopBtn {
  padding: .5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: var(--btnBg);
  box-shadow: var(--btnShadow);
  backdrop-filter: blur(1rem);
}
.toggleBtnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  .toggleBtn {
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    width: 4rem;
    height: 2rem;
    .modeBtn {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #333;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 2rem;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 1.6rem;
      width: 1.6rem;
      left: .2rem;
      bottom: .2rem;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
    .modeBtn:checked + .slider {
      background-color: #2196F3;
    }
    .modeBtn:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    .modeBtn:checked + .slider:before {
      -webkit-transform: translateX(2rem);
      -ms-transform: translateX(2rem);
      transform: translateX(2rem);
    }
  }
}

html, body {  
  background: var(--colRootBg);
  min-width: 100%;
  min-height: 100%;
  .rootBg {
    touch-action: none;
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    height: 100vh;
    overflow: hidden;
  }
  .mobileNav {
    display: none;
  }

  .main {
    min-height: 100vh;
    background: var(--colBg);
    backdrop-filter: blur(1rem);
    .headerx {
      z-index: 10;
      display: flex;
      position: sticky;
      top: 0;
      color: var(--colFg);
      background: var(--colSticking);
      box-shadow: var(--boxShadow);
      backdrop-filter: saturate(900%) blur(1rem);
      width: 100%;
      height: 3rem;
      font-size: 2rem;
      justify-content: space-between;
      align-items: center;
      transition: 200ms ease-in-out;
      .logo {
        display: flex;
        align-items: center;
        width: 8rem;
        padding: 1rem;
        .logoImg {
          height: 2rem;
        }
      }
      .menus {
        font-size: 1.2vw;
        font-weight: 600;
        display: flex;
        gap: 2vw;
        .menusBtn {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          opacity: .8;
          &:after{
            content: "";
            background: var(--colFg);
            width: 10%;
            height: .1vw;
            border-radius: .1vw 0;
            opacity: 0;
            transition: 200ms ease-in-out;
          }
          &:hover {
            opacity: 1;
            transition: 200ms ease-in-out;
          }
          &:hover:after{
            opacity: 1;
            width: 100%;
          }
        }
        .homeBtn {
          opacity: 1;
          &:after {
            content: "";
            background: var(--colFg);
            width: 100%;
            height: .1vw;
            border-radius: .1vw 0;
            opacity: 1;
          }
        }
      }
      .deskMenu {
        display: flex;
        .deskMenuBtn {
          color: var(--slideBtnFg);
          padding: .5rem 1rem;
          margin: 0 .2rem;
          font-size: .5rem;
          font-weight: 600;
          border-radius: 1.5rem;
          background: var(--slideBtnBg);
        }
      }
      .deskSetMenu {
        display: flex;
        padding: 1rem;
        .deskSetBtn {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background: var(--btnBg);
          margin-left: .5rem;
          box-shadow: var(--btnShadow);
          backdrop-filter: blur(1rem);
          .iconx {
            width: 1.3rem;
          }
        }
      }
      /* Desktop Settings */
      .settingsMenuBg {
        touch-action: none;
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3rem;
        background: var(--colBg);
        backdrop-filter: blur(2rem);
        width: 100vw;
        height: 100vh;
        z-index: 9;
        transition: 100ms ease-in-out;
        .settingsMenu {
          display: block;
          width: 50%;
          height: 50%;
          .settingsHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3rem;
            background: var(--menuBg);
            backdrop-filter: saturate(900%) blur(2rem);
            padding: 1rem;
            border-radius: 1.5rem 1.5rem 0 0;
            touch-action: none;
            .setHeadBtn {
              padding: .5rem;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              background: var(--btnBg);
              box-shadow: var(--btnShadow);
              backdrop-filter: blur(1rem);
              .iconx {
                width: 1.3rem;
              }
            }
            .settingsHeading {
              display: flex;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              color: var(--colFg);
            }
          }
          .settingsBottom {
            display: flex;
            height: 100%;
            .settingsLabel {
              width: 35%;
              background: var(--menuBg);
              backdrop-filter: saturate(900%) blur(1rem);
              border-right: var(--boxBorder);
              border-radius: 0 0 0 1.5rem;
              overflow: scroll;
              .setLebBtn {
                font-size: 1.5rem;
                width: 100%;
                height: 3rem;
                color: var(--colFg);
                border-radius: 1.5rem;
                background: transparent;
                &:focus-within {
                  border-top: var(--boxBorder);
                  border-bottom: var(--boxBorder);
                  box-shadow: var(--btnShadow);
                  backdrop-filter: saturate(900%) blur(2rem);
                }
              }
            }
            .settingsContent {
              width: 65%;
              border-radius: 0 0 1.5rem 0;
              overflow: hidden;
              .allSetCont {
                height: 100%;
                background: var(--menuBg);
                backdrop-filter: saturate(900%) blur(2rem);
                overflow: scroll;
                .toggleBtnBox {
                  display: flex;
                  justify-content: space-between;
                  padding: .5rem .5rem .5rem 1rem;
                  backdrop-filter: saturate(900%) blur(2rem);
                  .btnLabel {
                    color: var(--colFg);
                    font-size: 1.5rem;
                    font-weight: 600;
                  }
                }
              }
              #genSet {
              }
              #accSet {
                display: none;
              }
              #langSet {
                display: none;
              }
              #regSet {
                display: none;
              }
              #helpSet {
                display: none;
              }
            }
          }
        }
      }
      /* Desktop Settings End */
    }
    /* .stickHead { */
    /*   top: 0; */
    /*   position: sticky; */
    /*   box-shadow: var(--boxShadow); */
    /*   .logo { */
    /*     color: var(--volFg); */
    /*   } */
    /* } */
    .hero {
      height: 20vw;
      position: relative;
    }


    /* Main Contents */
    .home {
      display: block;
      min-height: 100vh;
      padding: 1rem; 
      .devMode {
        display: flex;
        flex-direction: column;
        align-items: center;
        & h1 {
          font-size: 3rem;
        }
        & h2 {
          font-size: 2rem;
          color: lightgreen;
        }
      }
      .cardx {
        color: var(--cardFg);
        background: var(--cardBg);
        box-shadow: var(--cardShadow);
        border-left: .25rem solid var(--colFg);
        border-radius: 1rem;
        overflow: hidden;
        padding: 1rem;
        margin: 2rem 5rem;
        & p {
          color: var(--colFg);
          font-size: .8rem;
          line-height: 1.3rem;
          font-weight: 600;
        }
      }
      .secTwo {
        display: flex;
        justify-content: flex-end;
        margin: 2rem 0;
        .gameBtn {
          font-size: 1.4rem;
          font-weight: 600;
          padding: 1rem 2rem;
          border-radius: 2rem .1rem;
          background: var(--cardBg);
          box-shadow: var(--boxShadow);
        }
      }
    }
    /* End */

    & footer {
      width: 100vw;
      bottom: 0;
      padding: 1rem;
      font-weight: 600;
      background: var(--colSticking);
      backdrop-filter: saturate(900%) blur(1rem);
      box-shadow: var(--boxShadow);
      .footerx {
        display: flex;
        justify-content: space-around;
        .menus {
          display: grid;
          & a {
            opacity: var(--nonHoverOpa);
            &:hover {
              opacity: var(--hoverOpa);
            }
          }
        }
        .footerSocial {
          .menuBot {
            display: grid;
          }
          & a {
            opacity: var(--nonHoverOpa);
            &:hover {
              opacity: var(--hoverOpa);
            }
          }
          .iconx {
            display: none;
          }
        }
      }
      .copyRightx {
        font-size: .5rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 1rem 0 0 0;
        .copyRight {
        }
      }
    }

  }
}
/* Mobile View */
@media (max-width: 429px) {
  * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
  html, body {
    font-size: 5vw;
    .headerx {
      justify-content: center !important;
      border-radius: var(--headerBr);
      .logo {
        width: auto !important;
      }
      .menus {
        display: none !important;
      }
      .deskMenu {
        display: none !important;
      }
      .deskSetMenu {
        display: none !important;
      }
      .settingsMenuBg {
        display: none !important;
      }
    }


    .mobileNav {
      display: flex;
      .menuBtn {
        z-index: 10;
        color: var(--btnFg);
        position: fixed;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 900;
        letter-spacing: .8rem;
        padding: .2rem .2rem .2rem 1rem;
        touch-action: none;
        border: 0.15em solid var(--colFg);
        border-radius: 1.5rem;
        background: var(--btnBg);
        -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--colFg), 0px 0px 0.5em 0px var(--colFg);
        -moz-box-shadow: inset 0px 0px 0.5em 0px var(--colFg), 0px 0px 0.5em 0px var(--colFg);
        box-shadow: inset 0px 0px 0.5em 0px var(--colFg), 0px 0px 0.5em 0px var(--colFg);
        animation: border-flicker 2s linear infinite;
        bottom: 2.5vh;
        left: 50%;
        transform: translate(-50%, 0);
        transition: 200ms ease-in-out;
        .flickerTxt {
          color: var(--btnFg);
          text-transform: uppercase;
          -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em aqua;
          -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em aqua;
          text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
          animation: text-flicker 3s linear infinite;
        }
        .faultyTxt {
          color: var(--btnFg);
          text-transform: uppercase;
          opacity: 0.5;
          animation: faulty-flicker 2s linear infinite;
        }
      }
      .mobileMenu {
        touch-action: none;
        display: grid;
        align-items: center;
        z-index: 11;
        position: fixed;
        width: 100%;
        height: 60vw;
        bottom: -60vw;
        padding: 1rem 1rem .5rem 1rem;
        border-top: 0.15rem solid var(--colFg);
        border-radius: 1rem 1rem 0 0;
        background: var(--menuBg);
        backdrop-filter: blur(2rem);
        transition: 100ms ease-in-out;
        .menuTop {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .menuTopFind {
            color: var(--colFg);
            outline: .3rem solid var(--slideBtnBg);
            width: 60%;
            height: 2rem;
            font-weight: 600;
            padding: 0 1rem;
            border-radius: 1.5rem;
            background: var(--slideBg);
            appearance: none;
            box-shadow: var(--btnShadow);
            backdrop-filter: blur(1rem);
          }
          .menuTopFind:hover {
            outline: .3rem solid var(--colFg);
          }
        }
      }
      .setMenu {        
        display: block;
        justify-content: center;
        align-items: flex-start;
        height: 130vw;
        bottom: -130vw;
        transition: 100ms ease-in-out;
        .header {
          display: flex;
          .heading {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: var(--colFg);
          }
        }
        .toggleBtnBox {
          display: flex;
          justify-content: space-between;
          padding: .5rem .5rem .5rem 1rem;
          margin: .5rem 0;
          border-radius: 5rem;
          background: var(--btnBg);
          .btnLabel {
            color: var(--colFg);
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
      }
      .menuMid {
        display: flex;
        align-items: center;
        background: var(--slideBg);
        border-radius: 1.5rem;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 1rem .25rem;
        box-shadow: var(--btnShadow);
        .menus {
          .homeBtn {
            box-shadow: var(--hoverBtn);
          } 
        }
        .menuMidBtn {
          color: var(--slideBtnFg);
          padding: .5rem 1rem;
          margin: .25rem;
          font-size: 1rem;
          font-weight: 600;
          border-radius: 1.5rem;
          background: var(--slideBtnBg);
          &:hover {
            box-shadow: var(--hoverBtn);
            transition: 100ms ease-in-out;
          }
        }
      }
      .menuBot {
        display: flex;
        align-items: center;
        justify-content: center;
        .menuBotBtn {
          width: 2.5rem;
          height: 2.5rem;
          padding: .2rem;
          margin: .2rem;
          border-radius: 1.5rem;
          background: var(--btnBg);
          box-shadow: var(--btnShadow);
          backdrop-filter: blur(1rem);
          &:hover {
            box-shadow: var(--hoverBtn);
            transition: 100ms ease-in-out;
          }
          .iconx {
            width: 1.2rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          & span {
            display: none;
          }
        }
      }
    }
    .hero {
      height: 50vw !important;
      & img {
        height: 100%;
      }
    }
    /* Main Contents */
    & main {
      .cardx {
        margin: 0 !important;
        margin-bottom: 1rem !important;
        & p {
          font-size: .42rem !important;
          line-height: .8rem !important;
        }
      }
    }
    /* End */
    & footer {
      border-radius: var(--footerBr);
      box-shadow: var(--cardShadow);
      .footerx {
        display: grid !important;
        justify-content: normal !important;
        font-size: 2rem;
        .footerNav {
        }
        .footerSocial {
          justify-content: flex-start;
          direction: rtl;
        }
      }
      .copyRightx {
        .copyRight {
          font-size: .5rem;
        }
      }
    }
  }
}
/* Animations */
@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

