---
import ThemeProvider from '../components/ui/ThemeProvider';
            
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-base text-text">
    <ThemeProvider
            attribute="class"
            enableSystem
            defaultTheme="system"
            value={{
               light: "latte",
              dark: "mocha",
              system: "system",
            }}
            disableTransitionOnChange
            themes={["latte", "frappe", "macchiato", "mocha"]}
  >
		<slot />
  </ThemeProvider>
	</body>
</html>
